<div class="p-3">
  <div *ngIf="tableData">
      <div class="container">
        <div class="row">
          <form [formGroup]="datosFecha">
            <div class="col-sm-4">
              <mat-form-field>
                <input
                  matInput
                  [matDatepicker]="pickerInicio"
                  formControlName="fechaInicio"
                  placeholder="Fecha de inicio"
                  (dateChange)="cambioFechaInicio()"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="pickerInicio"
                ></mat-datepicker-toggle>
                <mat-datepicker touchUi #pickerInicio></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <mat-form-field>
                <input
                  matInput
                  [matDatepicker]="pickerFinal"
                  formControlName="fechaFin"
                  placeholder="Fecha de final"
                  (dateChange)="cambioFechaFinal()"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="pickerFinal"
                ></mat-datepicker-toggle>
                <mat-datepicker touchUi #pickerFinal></mat-datepicker>
              </mat-form-field>
            </div>
          </form>
          <div class="col-md-8">
            <!----------------------------------------------------------------------------------->
            <table class="text-center" mat-table [dataSource]="tableData" class="mat-elevation-z8">
              
              <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef>  Fecha </th>
                <td mat-cell *matCellDef="let factura"> 
                  <a class="deco-none" [title]="factura.nombre +' details'" 
                    [routerLink]="['/facturas', factura.facturaId]">
                    {{factura.fecha | date: "shortDate" }} 
                  </a>
                </td>
              </ng-container>

              <ng-container matColumnDef="numeroIdentificador">
                <th mat-header-cell *matHeaderCellDef> Nº Identificador </th>
                <td mat-cell *matCellDef="let factura"> 
                  <a class="deco-none" [title]="factura.nombre +' details'" 
                    [routerLink]="['/facturas', factura.facturaId]">
                    . {{factura.numeroIdentificador}} 
                  </a>
                </td>
              </ng-container>

              <ng-container matColumnDef="cliente">
                <th mat-header-cell *matHeaderCellDef> Cliente </th>
                  <td mat-cell *matCellDef="let factura"> 
                    <a class="deco-none" [title]="factura.nombre +' details'" 
                    [routerLink]="['/facturas', factura.facturaId]">
                      {{factura.nombre}} 
                    </a>
                  </td>
              </ng-container>

              <ng-container matColumnDef="valorTotal">
                <th mat-header-cell *matHeaderCellDef> Total </th>
                <td mat-cell *matCellDef="let factura">  
                  <a class="deco-none" [title]="factura.nombre +' details'" 
                  [routerLink]="['/facturas', factura.facturaId]">              
                    {{factura.total | currency: "€"}} 
                  </a>
                </td>
              
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
      
            <!----------------------------------------------------------------------------------->
          </div>
        </div>
        
      </div>
  </div>
  
</div>

  