<div class="row sticky-top tex-center pb-2">
    <div class="col-6 bg-warning text-white w-100 pt-1 pb-1">
        <a class="deco-none" [routerLink]="['']">Cancelar</a>
    </div>
    <div class="col-6 bg-primary text-white w-100 pt-1 pb-1">
        <a class="deco-none" (click)="submitHandler()">Confirmar Transferencia</a>
    </div>
</div>
<div class="container text-center">
    <h3>
        TRANSFERIR DINERO DE {{ origen | uppercase }} A {{ destino |uppercase }}
    </h3>
    <form [formGroup]="form">
      <div class="row">
        
        <div class="col-md-6">
          <mat-form-field>
            <input
              matInput
              [style.fontSize.px]="30"
              formControlName="cantidad"
              type="currency"
              placeholder="Cantidad a transferir desde {{ origen }}"
            />
            <!-- <mat-error *ngIf="precio_proveedor.invalid && precio_proveedor.touched">2 decimales como máximo</mat-error> -->
          </mat-form-field>
        </div>
        
      </div>
    </form>
  </div>