<div *ngIf="dinero" class="container">
    
    <div class="row">
        <div class="col-md-8">
            <h2>
                Disponible en Banco:
            </h2>
        </div>
        <div class="col-md-4">
            <h1>
                <a class="deco-none" [routerLink]="['dinero/transfer/', 'banco']">
                    {{ dinero.banco | currency: "€" }}
                </a>
            </h1>
        </div>
    </div>
    
    
    <div class="row">
        <div class="col-md-8">
            <h2>
            Disponible en Caja:
            </h2>
        </div>
        <div class="col-md-4">
            <h1>
                <a class="deco-none" [routerLink]="['dinero/transfer/', 'caja']">
                    {{ dinero.caja | currency: "€" }}
                </a>
            </h1>
        </div>
    </div>
    
</div>