<div class="container-fluid">
  <a class="deco-none" [routerLink]="['']">
    <div class="row pt-1 pb-2 bg-dark text-white">
      <div class="col-4">
        <img class="img-fluid" src="assets/logo400_400.jpg" />
      </div>
      <div class="col-8">
        <h1>
          Gestion taller Bautista
        </h1>
      </div>
    </div>  
  </a>

  <main>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </main>


  <div class="row fixed-bottom text-center menu-font">
    <div class="col-3 bg-primary">
      <a class="deco-none" [routerLink]="['movimientos/insert/', 'ingreso']">
        <div class="text-white pt-1 pb-1">
            Ingreso
        </div>
      </a>
    </div>
    <div class="col-3 bg-danger">
      <a class="deco-none" [routerLink]="['movimientos/insert/', 'gasto']">
        <div class="text-white  pt-1 pb-1">
          Gasto
        </div>
      </a>
    </div>
    <div class="col-3 bg-black">
      <a class="deco-none" [routerLink]="['movimientos']">
        <div class="text-white  pt-1 pb-1">
          Movimientos
        </div>
      </a>
    </div>
    <div class="col-3 bg-warning">
      <a class="deco-none" [routerLink]="['facturas']">
        <div class="text-dark  pt-1 pb-1">
            Facturas
        </div>
      </a>
    </div>
    <div class="col-3 bg-golden">
      <a class="deco-none" [routerLink]="['']">
        <div class="text-white  pt-1 pb-1">
            Gráficos
        </div>
      </a>
    </div>
    <div class="col-3 bg-coral">
      <a class="deco-none" [routerLink]="['clientes']">
        <div class="text-white  pt-1 pb-1">
            Clientes
        </div>
      </a>
    </div>
    <div class="col-3 bg-success">
      <a class="deco-none" [routerLink]="['telas']">
        <div class="text-white  pt-1 pb-1">
          Telas
        </div>
      </a>
    </div>
    <div class="col-3 bg-red">
      <a class="deco-none" [routerLink]="['']">
        <div class="text-white  pt-1 pb-1">
          Inicio
        </div>
      </a>
    </div>
    
  </div>

</div>