<div class="container-fluid">
  <a class="deco-none" [routerLink]="['']">
    <div class="row pt-1 pb-2 bg-dark text-white">
      <div class="col-4">
        <img class="img-fluid" src="assets/logo400_400.jpg" />
      </div>
      <div class="col-8">
        <h1>
          Gestion taller Bautista
        </h1>
      </div>
    </div>  
  </a>

  <main>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </main>


  <div class="row fixed-bottom text-center menu-font">
    <div class="col-3 bg-primary text-white pt-1 pb-1">
        <a class="deco-none" [routerLink]="['movimientos/insert/', 'ingreso']">Ingreso</a>
    </div>
    <div class="col-3 bg-danger text-white  pt-1 pb-1">
        <a class="deco-none" [routerLink]="['movimientos/insert/', 'gasto']">Gasto</a>
    </div>
    <div class="col-3 bg-black text-white  pt-1 pb-1">
      <a class="deco-none" [routerLink]="['movimientos']">Movimientos</a>
    </div>
    <div class="col-3 bg-warning text-dark  pt-1 pb-1">
        <a class="deco-none" [routerLink]="['facturas']">Facturas</a>
    </div>
    <div class="col-3 bg-golden text-white  pt-1 pb-1">
        <a class="deco-none" [routerLink]="['']">Gráficos</a>
    </div>
    <div class="col-3 bg-coral text-white  pt-1 pb-1">
        <a class="deco-none" [routerLink]="['clientes']">Clientes</a>
    </div>
    <div class="col-3 bg-success text-white  pt-1 pb-1">
      <a class="deco-none" [routerLink]="['telas']">Telas</a>
    </div>
    <div class="col-3 bg-red text-white  pt-1 pb-1">
      <a class="deco-none" [routerLink]="['']">Inicio</a>
    </div>
  </div>

</div>