<a class="deco-none" [routerLink]="['']">
  <main class="jumbotron jumbotron-fluid" id="content" role="main">
    <div class="container-fluid align-items-center" style="margin-top: 55px">
      <div class="row align-items-center titulo">
        <div class="col-3 offset-1">
          <img class="img-fluid" src="assets/logo400_400.jpg" />
        </div>
        <div class="col-7 order-md-1 text-left text-md-left pr-md-5">
          <h1 class="mb-8">Gestion taller Bautista</h1>
        </div>
      </div>
    </div>
  </main>
</a>
<div class="container">
  <router-outlet></router-outlet>
</div>
