<form  [formGroup]="form"> 
    <div class="row">

      <div class="col-12 p-1">
        <a [routerLink]="['']">
          <div class="alert alert-danger" role="alert">
              <h3 class="card-title">Regresar</h3>
          </div>
        </a>
      </div>
      
      <div class="col-12">
        <h2>
          <p class="text-center">
            {{tipoMovimiento|uppercase}}
          </p>
        </h2>
      </div>
      <div class="col-8 mx-auto">
        <mat-form-field>
            <input matInput formControlName="valor" type="currency" placeholder="Cantidad (max 2 decimales)">
        </mat-form-field>
      </div>
  
      <div class="col-8 mx-auto">
        <mat-form-field>
          
          <input *ngIf="tipoMovimiento === 'ingreso'" matInput formControlName="concepto" placeholder="Concepto" list="ingresos_frecuentes">
          <datalist  id="ingresos_frecuentes">
              <option *ngFor="let concepto of ingresos" value="{{concepto}}">
          </datalist>

          <input *ngIf="tipoMovimiento === 'gasto'" matInput formControlName="concepto" placeholder="Concepto" list="gastos_frecuentes">
          <datalist id="gastos_frecuentes">
              <option *ngFor="let concepto of gastos" value="{{concepto}}">
          </datalist>
            
        </mat-form-field>
      </div>
  
      <div class="col-8 mx-auto">
        <mat-button-toggle-group class="mx-auto" formControlName="cajaBanco" >
          <mat-button-toggle  value="caja">Caja</mat-button-toggle>
          <mat-button-toggle  value="banco">Banco</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
  
      <div class="col-8 mt-2 mx-auto">
        <button mat-raised-button [disabled]="form.invalid"  color="primary" (click)="submitHandler(form)">Confirmar</button>
      </div>
  
    </div>
  </form>