
<div class="row">

    <div class="col-4 p-2 ">
        <a [routerLink]="['movimiento/insert/', 'ingreso']">
            <div class="card alert alert-primary">
                <div class="card-body">
                <h3 class="card-title">Ingreso</h3>
                </div>
            </div>
        </a>
    </div>

    <div class="col-4 p-2 ">
        <a [routerLink]="['movimiento/insert/', 'gasto']">
            <div class="card alert alert-danger">
                <div class="card-body">
                <h3 class="card-title">Gasto</h3>
                </div>
            </div>
        </a>
    </div>

    <div class="col-4 p-2 ">
        <a [routerLink]="['facturas']">
            <div class="card alert alert-warning">
                <div class="card-body">
                <h3 class="card-title">Facturas</h3>
                </div>
            </div>
        </a>
    </div>

    <div class="col-4 p-2 ">
        <a [routerLink]="['']">
            <div class="card alert alert-secondary">
                <div class="card-body">
                <h3 class="card-title">Clientes</h3>
                </div>
            </div>
        </a>
    </div>

</div>